.page-header {
  position: relative;
  background-color: $color-blue;
  background-image: url("../img/content/main-desktop.jpg");
  /* stylelint-disable-next-line declaration-block-no-duplicate-properties, value-no-vendor-prefix */
  background-image: -webkit-image-set(url("../img/content/main-desktop.webp") 1x);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  box-shadow: 0 4px 4px $color-shadow;

  @media (min-width: $vp-1024) {
    @include retina {
      background-image: url("../img/content/main-desktop@2x.jpg");
      /* stylelint-disable-next-line declaration-block-no-duplicate-properties, value-no-vendor-prefix */
      background-image: -webkit-image-set(url("../img/content/main-desktop@2x.webp") 2x);
    }
  }

  @include vp-1023 {
    background-image: url("../img/content/main-tablet.jpg");
    /* stylelint-disable-next-line declaration-block-no-duplicate-properties, value-no-vendor-prefix */
    background-image: -webkit-image-set(url("../img/content/main-tablet.webp") 1x);

    @include retina {
      background-image: url("../img/main-tablet@2x.jpg");
      /* stylelint-disable-next-line declaration-block-no-duplicate-properties, value-no-vendor-prefix */
      background-image: -webkit-image-set(url("../img/content/main-tablet@2x.webp") 2x);
    }
  }

  @include vp-767 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    min-height: 500px;
    background-image: url("../img/main-mobile.jpg");
    /* stylelint-disable-next-line declaration-block-no-duplicate-properties, value-no-vendor-prefix */
    background-image: -webkit-image-set(url("../img/content/main-mobile.webp") 1x);

    @include retina {
      background-image: url("../img/main-mobile@2x.jpg");
      /* stylelint-disable-next-line declaration-block-no-duplicate-properties, value-no-vendor-prefix */
      background-image: -webkit-image-set(url("../img/content/main-mobile@2x.webp") 2x);
    }
  }
}

.page-header__nav--opened {
  @include vp-767 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: $color-back;
  }
}

.page-header__nav-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
  gap: 10px;
  max-width: 1366px;
  margin: 0 auto;
  padding: 35px 103px;


  @include vp-1023 {
    padding: 30px 45px;
  }

  @include vp-767 {
    width: 100%;
    padding: 20px 15px;
  }
}

.page-header__nav--opened .page-header__nav-container {
  @include vp-767 {
    background-color: $color-default-white;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 89%;
    height: 100vh;
    margin: 0;
    margin-left: auto;
    padding: 20px 15px 20px 0;
    z-index: 10;
  }
}

.page-header__nav--nojs .page-header__nav-container {
  @include vp-767 {
    position: static;
    background-color: $color-default-white;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;
    padding: 20px 15px 20px 0;
    z-index: 10;
  }
}

.page-header__nav--closed .page-header__toggle::before {
  @include vp-767 {
    content: "";
    position: absolute;
    top: 4px;
    left: 0;
    width: 24px;
    height: 2px;
    background-color: $color-default-white;
    box-shadow: 0 6px 0 $color-default-white, 0 12px 0 0 $color-default-white;
    z-index: 2;
  }
}

@include vp-767 {
  .page-header__nav--closed .menu {
    display: none;
  }

  .page-header__nav--nojs .menu {
    position: static;
    display: block;
    margin-top: 33px;
  }

  .page-header__nav--opened .page-header__logo {
    margin-left: 15px;
    color: $color-default-black;
  }

  .page-header__nav--nojs .page-header__logo {
    margin-left: 15px;
    color: $color-default-black;
  }

  .page-header__nav--opened .menu {
    padding-top: 26px;
    padding-left: 15px;
    height: 100%;
  }
}

.page-header__nav--opened .page-header__toggle {
  @include vp-767 {
    margin-left: auto;
    background-image: url("../img/icon-close.svg");
    background-repeat: no-repeat;
    background-position: right center;
  }
}

.page-header__nav--nojs .page-header__toggle,
.page-header__nav--opened .page-header__toggle::before,
.page-header__nav--nojs .page-header__toggle::before {
  @include vp-767 {
    display: none;
  }
}

.page-header__toggle {
  display: none;

  @include vp-767 {
    position: relative;
    display: block;
    width: 24px;
    height: 24px;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
  }
}

.page-header__logo {
  display: block;
  color: $color-default-white;
}

.page-header__logo svg {
  @include vp-1023 {
    width: 38px;
    height: 20px;
  }

  @include vp-767 {
    width: 42px;
    height: 22px;
  }
}

.page-header__main {
  max-width: 1366px;
  min-height: 535px;
  margin: 0 auto;
  padding: 156px 198px;

  @include vp-1023 {
    min-height: 551px;
    padding: 181px 45px;
  }

  @include vp-767 {
    min-height: 431px;
    padding: 107px 15px;
  }
}

.page-header__main h1 {
  margin: 0;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 54px;
  line-height: 66px;
  color: $color-default-white;

  @include vp-1023 {
    font-size: 50px;
    line-height: 61px;
  }

  @include vp-767 {
    margin-bottom: 10px;
    font-size: 36px;
    line-height: 45px;
  }
}

.page-header__main br {
  display: none;

  @include vp-767 {
    display: block;
  }
}

.page-header__main p {
  margin: 0;
  font-size: 20px;
  line-height: 24px;
  color: $color-default-white;

  @include vp-1023 {
    font-size: 18px;
    line-height: 22px;
  }

  @include vp-767 {
    font-size: 16px;
  }
}
