.socials {
  grid-column: 3 / 4;
  align-self: flex-start;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 27px;
  width: 106px;
  margin: 0;
  margin-top: 11px;
  margin-left: auto;
  padding: 0;
  list-style: none;

  @include vp-1023 {
    gap: 19px;
    width: 87px;
    margin: 0;
  }
}

.socials li {
  align-self: start;
}

.socials a {
  display: flex;
  flex-wrap: wrap;
}

.socials svg {
  @include vp-1023 {
    width: 16px;
    height: 16px;
  }
}
